global
	log stdout local0

	debug

defaults
	log                 global
	maxconn             3000
	mode                http
	timeout connect     10s
	timeout client      30s
	timeout server      30s
	option              httplog
	option              http-use-htx
	option              logasap
	default-server      init-addr last,libc,none no-tls-tickets resolvers docker check

resolvers docker
	parse-resolv-conf

frontend fe_proxy
	bind :80
	bind :443 proto h2

	http-response set-header Strict-Transport-Security max-age=63072000

	acl is_gateway url_beg /gateway
	use_backend be_gateway if is_gateway

	acl is_resource path_beg /ResourceService
	use_backend be_resource if is_resource

backend be_gateway
	server gateway gateway:3000 check

backend be_resource
	server resource resource:3002 check  maxconn 20 proto h2
